loglevel=verbose
registry=https://npm.taobao.org
# disturl=https://npm.taobao.org/dist
# registry=https://registry.npmjs.org
# registry.npmjs.org/:_authToken=${NPM_TOKEN}

# proxy=null#http://127.0.0.1:1087
# https-proxy=null#http://127.0.0.1:1087

# npm publish --access public

# const validModuleName = opts.module_name.replace('-', '_');
# const host = process.env['npm_config_' + validModuleName + '_binary_host_mirror'] || package_json.binary.host;

# noble_binary_host_mirror=https://focus-resource.oss-cn-beijing.aliyuncs.com/universal/node-prebuild/noble/
# noble_binary_host_mirror=https://github.com/Yongle-Fu/noble/releases/download/